body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}
h1, h2 {
    color: #333;
}
.scheduler {
    margin-top: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    font-weight: bold;
}
input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #01024e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #00c92b;
}
.view-sessions {
    margin-top: 20px;
}
/* Style for the delete button */
.delete-btn {
    background-color: rgb(252, 49, 49); /* Red button by default */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 5px 5px; /* Some padding */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.1s ease; /* Smooth transition on hover */
}

/* Change button color to dark red on hover */
.delete-btn:hover {
    background-color: rgb(187, 0, 0); /* Dark Red on hover */
}
/*End*/